# Arquivos locais e secretos
*.key
*.pem
*.pgpass
.DS_Store

# Banco / credenciais de conexão
settings.json
config.ini
credentials.yml
credentials.yaml

# Dados não versionados por volume ou natureza
00_Documentação/
01_Dados_Brutos/

# Arquivos de análise temporária
__pycache__/
*.pyc
.ipynb_checkpoints/

# Saídas e artefatos locais
*.log
